.jambe_gauche_repli {
  transform: translate(5px, -7px) rotateY(180deg);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.jambe_droite_repli {
  transform: translate(-15px, -7px) rotateY(180deg);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.fermetures_repli {
  transform: translate(0, 45px) rotateX(-180deg) rotateZ(-45deg);
  transform-origin: 4.75% 5.5%;
}

.corps_repli {
  transform: translate(0, 45px) rotateX(-180deg) rotateZ(-45deg);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes animation_repli_corps {
  from { transform: translate(0, 0) rotateX(0) rotateZ(0); }
  20% { transform: translate(0, 0) rotateX(0) rotateZ(-45deg); }
  40% { transform: translate(0, 45px) rotateX(-180deg) rotateZ(-45deg); }
  to { transform: translate(0, 45px) rotateX(-180deg) rotateZ(-45deg); }
}

.animation_repli_fermetures {
  transform-origin: 4.75% 5.5%;
}

.animation_repli_corps {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.animation_repli_fermetures, .animation_repli_corps {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: animation_repli_corps;
  animation-timing-function: linear;
}

@keyframes animation_repli_jambe_gauche {
  from { transform: translate(0, 0) rotateY(0) }
  40% { transform: translate(0, 0) rotateY(0) }
  60% { transform: translate(10px, 0) rotateY(0) }
  80% { transform: translate(10px, -7px) rotateY(0) }
  85% { transform: translate(5px, -7px) rotateY(180deg) }
  to { transform: translate(5px, -7px) rotateY(180deg) }
}

@keyframes animation_repli_jambe_droite {
  from { transform: translate(0, 0) rotateY(0) }
  40% { transform: translate(0, 0) rotateY(0) }
  60% { transform: translate(-10px, 0) rotateY(0) }
  80% { transform: translate(-10px, -7px) rotateY(0) }
  85% { transform: translate(-15px, -7px) rotateY(180deg) }
  to { transform: translate(-15px, -7px) rotateY(180deg) }
}

.animation_repli_jambe_gauche {
  animation-name: animation_repli_jambe_gauche;
}

.animation_repli_jambe_droite {
  animation-name: animation_repli_jambe_droite;
}

.animation_repli_jambe_gauche, .animation_repli_jambe_droite {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes animation_texte_1 {
  from { opacity: 1; }
  19% { opacity: 1; }
  20% { opacity: 0; }
  to { opacity: 0; }
}

@keyframes animation_texte_2 {
  from { opacity: 0; }
  19% { opacity: 0; }
  20% { opacity: 1; }
  39% { opacity: 1; }
  40% { opacity: 0; }
  to { opacity: 0; }
}

@keyframes animation_texte_3 {
  from { opacity: 0; }
  39% { opacity: 0; }
  40% { opacity: 1; }
  59% { opacity: 1; }
  60% { opacity: 0; }
  to { opacity: 0; }
}

@keyframes animation_texte_4 {
  from { opacity: 0; }
  59% { opacity: 0; }
  60% { opacity: 1; }
  79% { opacity: 1; }
  80% { opacity: 0; }
  to { opacity: 0; }
}

@keyframes animation_texte_5 {
  from { opacity: 0; }
  79% { opacity: 0; }
  80% { opacity: 1; }
  84% { opacity: 1; }
  85% { opacity: 0; }
  to { opacity: 0; }
}

@keyframes animation_texte_6 {
  from { opacity: 0; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  to { opacity: 1; }
}

.animation_texte_1 {
  animation-name: animation_texte_1;
}

.animation_texte_2 {
  animation-name: animation_texte_2;
}

.animation_texte_3 {
  animation-name: animation_texte_3;
}

.animation_texte_4 {
  animation-name: animation_texte_4;
}

.animation_texte_5 {
  animation-name: animation_texte_5;
}

.animation_texte_6 {
  animation-name: animation_texte_6;
}

.animation_texte_1, .animation_texte_2, .animation_texte_3, .animation_texte_4, .animation_texte_5, .animation_texte_6 {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
