/* Animations */

@keyframes dezoom {
  from { transform: scale(4); }
  to { transform: scale(1); }
}

@keyframes deplacement_decor_1 {
  from { transform: translate(0, 0); }
  to { transform: translate(-3840px, 0); }
}

@keyframes non_deplacement_decor_1 {
  from { transform: translate(0, 0); }
  to { transform: translate(3840px, 0); }
}

@keyframes deplacement_decor_2 {
  from { transform: translate(-3840px, 0); }
  to { transform: translate(-5760px, 0); }
}

@keyframes non_deplacement_decor_2 {
  from { transform: translate(3840px, 0); }
  to { transform: translate(5760px, 0); }
}

@keyframes deplacement_decor_3 {
  from { transform: translate(-5760px, 0); }
  to { transform: translate(-7680px, 0); }
}

@keyframes non_deplacement_decor_3 {
  from { transform: translate(5760px, 0); }
  to { transform: translate(7680px, 0); }
}

@keyframes deplacement_decor_4 {
  from { transform: translate(-7680px, 0); }
  to { transform: translate(-9600px, 0); }
}

@keyframes non_deplacement_decor_4 {
  from { transform: translate(7680px, 0); }
  to { transform: translate(9600px, 0); }
}

@keyframes deplacement_decor_5 {
  from { transform: translate(-9600px, 0); }
  to { transform: translate(-11520px, 0); }
}

@keyframes non_deplacement_decor_5 {
  from { transform: translate(9600px, 0); }
  to { transform: translate(11520px, 0); }
}

@keyframes marche_georges_1 {
  from { transform: translate(300px, 805px); }
  to { transform: translate(4120px, 805px); }
}

@keyframes marche_georges_2 {
  from { transform: translate(4120px, 805px); }
  to { transform: translate(6110px, 805px); }
}

@keyframes marche_georges_3 {
  from { transform: translate(6110px, 805px); }
  to { transform: translate(8275px, 805px); }
}

@keyframes marche_georges_4 {
  from { transform: translate(8275px, 805px); }
  to { transform: translate(10525px, 805px); }
}

@keyframes marche_georges_5 {
  from { transform: translate(10525px, 805px); }
  to { transform: translate(12545px, 805px); }
}

@keyframes marche_raphael_1 {
  from { transform: translate(4840px, 765px); }
  to { transform: translate(5875px, 765px); }
}

@keyframes marche_raphael_2 {
  from { transform: translate(5875px, 765px); }
  to { transform: translate(8025px, 765px); }
}

@keyframes marche_raphael_3 {
  from { transform: translate(8025px, 765px); }
  to { transform: translate(10300px, 765px); }
}

@keyframes marche_raphael_4 {
  from { transform: translate(10300px, 765px); }
  to { transform: translate(12320px, 765px); }
}

@keyframes marche_maxime_1 {
  from { transform: translate(6900px, 790px); }
  to { transform: translate(7850px, 790px); }
}

@keyframes marche_maxime_2 {
  from { transform: translate(7850px, 790px) scale(-1, 1); }
  to { transform: translate(10125px, 790px) scale(-1, 1); }
}

@keyframes marche_maxime_3 {
  from { transform: translate(10125px, 790px) scale(-1, 1); }
  to { transform: translate(12145px, 790px) scale(-1, 1); }
}

@keyframes marche_theo_1 {
  from { transform: translate(8565px, 825px); }
  to { transform: translate(9850px, 825px); }
}

@keyframes marche_theo_2 {
  from { transform: translate(9850px, 825px); }
  to { transform: translate(11870px, 825px); }
}

@keyframes marche_florent_1 {
  from { transform: translate(9000px, -1920px); }
  to { transform: translate(9000px, 805px); }
}

@keyframes marche_florent_2 {
  from { transform: translate(9000px, 805px) scale(-1, 1); }
  to { transform: translate(9675px, 805px) scale(-1, 1); }
}

@keyframes marche_florent_3 {
  from { transform: translate(9675px, 805px); }
  to { transform: translate(11700px, 805px); }
}

@keyframes marche_corentin_1 {
  from { transform: translate(11450px, 925px) rotate(90deg); }
  to { transform: translate(11590px, 925px) rotate(90deg); }
}

@keyframes marche_jambe_droite {
  from { transform: translate(0, 0); }
  50% { transform: translate(-20px, 0); }
  75% { transform: translate(-10px, -5px); }
  to { transform: translate(0, 0); }
}

@keyframes marche_jambe_gauche {
  from { transform: translate(0, 0); }
  25% { transform: translate(10px, -5px); }
  50% { transform: translate(20px, 0); }
  to { transform: translate(0, 0); }
}

@keyframes animation_joie {
  from { transform: scale(3) rotate(-45deg); }
  50% { transform: scale(3) rotate(45deg); }
  to { transform: scale(3) rotate(-45deg); }
}

@keyframes joie_jambe_gauche {
  from { transform: rotate(45deg); }
  to { transform: rotate(45deg); }
}

@keyframes joie_jambe_droite {
  from { transform: rotate(-45deg); }
  to { transform: rotate(-45deg); }
}

@keyframes sautillement {
  from { transform: scale(3) translate(0, 0); }
  12.5% { transform: scale(3) translate(0, -50px); }
  25% { transform: scale(3) translate(0, 0); }
  37.5% { transform: scale(3) translate(0, -50px); }
  50% { transform: scale(3) translate(0, 0); }
  62.5% { transform: scale(3) translate(0, -50px); }
  75% { transform: scale(3) translate(0, 0); }
  87.5% { transform: scale(3) translate(0, -50px); }
  to { transform: scale(3) translate(0, 0); }
}

@keyframes sautillement_theo {
  from { transform: scale(3) translate(0, 0) rotateX(0deg); }
  12.5% { transform: scale(3) translate(0, -25px) rotateX(45deg); }
  25% { transform: scale(3) translate(0, 0) rotateX(0deg); }
  37.5% { transform: scale(3) translate(0, -25px) rotateX(45deg); }
  50% { transform: scale(3) translate(0, 0) rotateX(0deg); }
  62.5% { transform: scale(3) translate(0, -25px) rotateX(45deg); }
  75% { transform: scale(3) translate(0, 0) rotateX(0deg); }
  87.5% { transform: scale(3) translate(0, -25px) rotateX(45deg); }
  to { transform: scale(3) translate(0, 0) rotateX(0deg); }
}

@keyframes sautillement_scene {
  from { transform: translate(0, 0); }
  12.5% { transform: translate(0, -50px); }
  25% { transform: translate(0, 0); }
  37.5% { transform: translate(0, -50px); }
  50% { transform: translate(0, 0); }
  62.5% { transform: translate(0, -50px); }
  75% { transform: translate(0, 0); }
  87.5% { transform: translate(0, -50px); }
  to { transform: translate(0, 0); }
}

@keyframes magie_florent {
  from { transform: scale(3); }
  12.5% { transform: scale(1); }
  25% { transform: scale(6); }
  37.5% { transform: scale(1); }
  50% { transform: scale(0); }
  62.5% { transform: scale(2); }
  75% { transform: scale(9); }
  87.5% { transform: scale(1); }
  to { transform: scale(3); }
}

@keyframes corentin_cache_cache {
  from { transform: translate(11450px, 805px) rotate(0deg); }
  50% { transform: translate(11450px, 1045px) rotate(0deg); }
  to { transform: translate(11450px, 925px) rotate(90deg); }
}

@keyframes disparition_foret {
  from { fill: #c0c0c0; }
  to { fill: #fff; }
}

@keyframes georgeslasaucissepointfr {
  from { transform: translate(13440px, 100px); }
  to { transform: translate(10000px, 100px); }
}

.flocon {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
