/* Animations */

@keyframes dezoom {
  from { transform: scale(4); }
  to { transform: scale(1); }
}

@keyframes rotatebrasgauche {
  from { transform: rotate(0); }
  to { transform: rotate(-135deg); }
}

@keyframes rotatebrasdroit {
  from { transform: rotate(0); }
  to { transform: rotate(135deg); }
}

@keyframes trottinage {
  from { transform: scale(3) translateY(0); }
  50% { transform: scale(3) translateY(-30px); }
  to { transform: scale(3) translateY(0); }
}

@keyframes trottinage_jambe_gauche {
  from { transform: rotate(0); }
  50% { transform: rotate(45deg); }
  to { transform: rotate(0); }
}

@keyframes trottinage_jambe_droite {
  from { transform: rotate(0); }
  50% { transform: rotate(-45deg); }
  to { transform: rotate(0); }
}

@keyframes circles {
  from { transform: translate(0, 0) scale(1); }
  12.5% { transform: translate(10px, 0) scale(5); }
  25% { transform: translate(20px, 0) scale(1); }
  37.5% { transform: translate(20px, 10px) scale(5); }
  50% { transform: translate(20px, 20px) scale(1); }
  62.5% { transform: translate(10px, 20px) scale(5); }
  75% { transform: translate(0, 20px) scale(1); }
  87.5% { transform: translate(0, 10px) scale(5); }
  to { transform: translate(0, 0) scale(1); }
}

@keyframes marche_florent {
  from { transform: translate(-200px, 705px); }
  to { transform: translate(280px, 705px); }
}

@keyframes marche_jambe_droite {
  from { transform: translate(0, 0); }
  50% { transform: translate(-20px, 0); }
  75% { transform: translate(-10px, -5px); }
  to { transform: translate(0, 0); }
}

@keyframes marche_jambe_gauche {
  from { transform: translate(0, 0); }
  25% { transform: translate(10px, -5px); }
  50% { transform: translate(20px, 0); }
  to { transform: translate(0, 0); }
}

@keyframes flexi_jambe_gauche {
  from { transform: rotate(0); }
  6.25% { transform: rotate(90deg); }
  12.5% { transform: rotate(0); }
  18.75% { transform: rotate(90deg); }
  25% { transform: rotate(0); }
  31.25% { transform: rotate(90deg); }
  37.5% { transform: rotate(0); }
  43.75% { transform: rotate(90deg); }
  50% { transform: rotate(0); }
  62.5% { transform: rotate(180deg); }
  75% { transform: rotate(0); }
  87.5% { transform: rotate(270deg); }
  to { transform: rotate(270deg); }
}

@keyframes flexi_jambe_droite {
  from { transform: rotate(0); }
  6.25% { transform: rotate(0); }
  12.5% { transform: rotate(-90deg); }
  18.75% { transform: rotate(0); }
  25% { transform: rotate(-90deg); }
  31.25% { transform: rotate(0); }
  37.5% { transform: rotate(-90deg); }
  43.75% { transform: rotate(0); }
  50% { transform: rotate(-90deg); }
  56.25% { transform: rotate(0); }
  62.5% { transform: rotate(0); }
  75% { transform: rotate(-180deg); }
  87.5% { transform: rotate(0); }
  to { transform: rotate(-270deg); }
}

@keyframes marche_jambe_droite_cassee {
  from { transform: translate(0, 0) rotate(-270deg); }
  50% { transform: translate(-20px, 0) rotate(-270deg); }
  75% { transform: translate(-10px, -5px) rotate(-270deg); }
  to { transform: translate(0, 0) rotate(-270deg); }
}

@keyframes marche_jambe_gauche_cassee {
  from { transform: translate(0, 0) rotate(270deg); }
  25% { transform: translate(10px, -5px) rotate(270deg); }
  50% { transform: translate(20px, 0) rotate(270deg); }
  to { transform: translate(0, 0) rotate(270deg); }
}

@keyframes marche_theo {
  from { transform: rotateX(0deg) translate(-240px, 720px); }
  6.25% { transform: rotateX(45deg) translate(-210px, 780px); }
  12.5% { transform: rotateX(0deg) translate(-180px, 720px); }
  18.75% { transform: rotateX(45deg) translate(-150px, 780px); }
  25% { transform: rotateX(0deg) translate(-120px, 720px); }
  31.25% { transform: rotateX(45deg) translate(-90px, 780px); }
  37.5% { transform: rotateX(0deg) translate(-60px, 720px); }
  43.75% { transform: rotateX(45deg) translate(-30px, 780px); }
  50% { transform: rotateX(0deg) translate(0, 720px); }
  56.25% { transform: rotateX(45deg) translate(30px, 780px); }
  62.5% { transform: rotateX(0deg) translate(60px, 720px); }
  68.75% { transform: rotateX(45deg) translate(90px, 780px); }
  75% { transform: rotateX(0deg) translate(120px, 720px); }
  81.25% { transform: rotateX(45deg) translate(150px, 780px); }
  87.5% { transform: rotateX(0deg) translate(180px, 720px); }
  93.75% { transform: rotateX(45deg) translate(210px, 780px); }
  to { transform: rotateX(0deg) translate(240px, 720px); }
}

@keyframes flexi_torse {
  from { transform: scale(3); }
  6.25% { transform: scale(3) skew(10deg, 0deg) translateX(-15px); }
  12.5% { transform: scale(3) skew(-10deg, 0deg) translateX(15px); }
  18.75% { transform: scale(3) skew(10deg, 0deg) translateX(-15px); }
  25% { transform: scale(3) skew(-10deg, 0deg) translateX(15px); }
  31.25% { transform: scale(3) rotateX(-45deg) translateY(35px); }
  34.375% { transform: scale(3) rotateX(0deg) translateY(0); }
  37.5% { transform: scale(3) rotateX(45deg) translateY(35px); }
  40.625% { transform: scale(3) rotateX(0deg) translateY(0); }
  43.75% { transform: scale(3) rotateX(-45deg) translateY(35px); }
  46.875% { transform: scale(3) rotateX(0deg) translateY(0); }
  50% { transform: scale(3) rotateX(45deg) translateY(35px); }
  56.25% { transform: scale(3) rotateX(0deg) skew(5deg, 0deg) translateX(-7.5px) translateY(0); }
  62.5% { transform: scale(3) rotateX(-45deg) skew(10deg, 0deg) translateX(-15px) translateY(35px); }
  68.75% { transform: scale(3) rotateX(0deg) skew(0deg, 0deg) translateX(0) translateY(0); }
  75% { transform: scale(3) rotateX(45deg) skew(-10deg, 0deg) translateX(15px) translateY(35px); }
  87.5% { transform: scale(4); }
  to { transform: scale(3); }
}

@keyframes translate_corentin {
  from { transform: translate(1920px, 800px); }
  to { transform: translate(1815px, 800px); }
}

@keyframes corentin_parle {
  from { transform: rotateX(0deg); }
  6.2% { transform: rotateX(0deg); }
  6.3% { transform: rotateX(90deg); }
  12.4% { transform: rotateX(90deg); }
  12.6% { transform: rotateX(0deg); }
  18.7% { transform: rotateX(0deg); }
  18.8% { transform: rotateX(90deg); }
  23.4% { transform: rotateX(90deg); }
  23.5% { transform: rotateX(0deg); }
  28.1% { transform: rotateX(0deg); }
  28.2% { transform: rotateX(90deg); }
  29.6% { transform: rotateX(90deg); }
  29.7% { transform: rotateX(0deg); }
  31.2% { transform: rotateX(0deg); }
  31.3% { transform: rotateX(90deg); }
  32.8% { transform: rotateX(90deg); }
  32.9% { transform: rotateX(0deg); }
  34.3% { transform: rotateX(0deg); }
  34.4% { transform: rotateX(90deg); }
  35.9% { transform: rotateX(90deg); }
  36.0% { transform: rotateX(0deg); }
  37.4% { transform: rotateX(0deg); }
  37.5% { transform: rotateX(90deg); }
  39.0% { transform: rotateX(90deg); }
  39.1% { transform: rotateX(0deg); }
  43.7% { transform: rotateX(0deg); }
  43.8% { transform: rotateX(90deg); }
  48.4% { transform: rotateX(90deg); }
  48.5% { transform: rotateX(0deg); }
  53.1% { transform: rotateX(0deg); }
  53.2% { transform: rotateX(90deg); }
  54.6% { transform: rotateX(90deg); }
  54.7% { transform: rotateX(0deg); }
  56.2% { transform: rotateX(0deg); }
  56.3% { transform: rotateX(90deg); }
  57.8% { transform: rotateX(90deg); }
  57.9% { transform: rotateX(0deg); }
  59.3% { transform: rotateX(0deg); }
  59.4% { transform: rotateX(90deg); }
  60.9% { transform: rotateX(90deg); }
  61.0% { transform: rotateX(0deg); }
  62.4% { transform: rotateX(0deg); }
  62.5% { transform: rotateX(90deg); }
  63.5% { transform: rotateX(90deg); }
  63.6% { transform: rotateX(0deg); }
  68.7% { transform: rotateX(0deg); }
  68.8% { transform: rotateX(90deg); }
  73.4% { transform: rotateX(90deg); }
  73.5% { transform: rotateX(0deg); }
  78.1% { transform: rotateX(0deg); }
  78.2% { transform: rotateX(90deg); }
  79.6% { transform: rotateX(90deg); }
  79.7% { transform: rotateX(0deg); }
  81.2% { transform: rotateX(0deg); }
  81.3% { transform: rotateX(90deg); }
  82.8% { transform: rotateX(90deg); }
  82.9% { transform: rotateX(0deg); }
  84.3% { transform: rotateX(0deg); }
  84.4% { transform: rotateX(90deg); }
  85.9% { transform: rotateX(90deg); }
  86.0% { transform: rotateX(0deg); }
  87.4% { transform: rotateX(0deg); }
  87.5% { transform: rotateX(90deg); }
  89.0% { transform: rotateX(90deg); }
  89.1% { transform: rotateX(0deg); }
  93.7% { transform: rotateX(0deg); }
  93.8% { transform: rotateX(90deg); }
  to { transform: rotateX(90deg); }
}

@keyframes marche_raphael {
  from { transform: translate(-280px, 770px); }
  6.25% { transform: translate(-200px, 770px); }
  12.5% { transform: translate(-200px, 770px); }
  18.75% { transform: translate(-120px, 770px); }
  25% { transform: translate(-120px, 770px); }
  31.25% { transform: translate(-40px, 770px); }
  37.5% { transform: translate(-40px, 770px); }
  43.75% { transform: translate(40px, 770px); }
  50% { transform: translate(40px, 770px); }
  56.25% { transform: translate(120px, 770px); }
  62.5% { transform: translate(120px, 770px); }
  68.75% { transform: translate(200px, 770px); }
  75% { transform: translate(200px, 770px); }
  81.25% { transform: translate(280px, 770px); }
  87.5% { transform: translate(280px, 770px); }
  93.75% { transform: translate(360px, 770px); }
  to { transform: translate(360px, 770px); }
}

@keyframes pivote_raphael {
  from { transform: scale(3) rotate(0); }
  6.25% { transform: scale(3) rotate(45deg); }
  12.5% { transform: scale(3) rotate(45deg); }
  18.75% { transform: scale(3) rotate(-45deg); }
  25% { transform: scale(3) rotate(-45deg); }
  31.25% { transform: scale(3) rotate(45deg); }
  37.5% { transform: scale(3) rotate(45deg); }
  43.75% { transform: scale(3) rotate(-45deg); }
  50% { transform: scale(3) rotate(-45deg); }
  56.25% { transform: scale(3) rotate(45deg); }
  62.5% { transform: scale(3) rotate(45deg); }
  68.75% { transform: scale(3) rotate(-45deg); }
  75% { transform: scale(3) rotate(-45deg); }
  81.25% { transform: scale(3) rotate(45deg); }
  87.5% { transform: scale(3) rotate(45deg); }
  93.75% { transform: scale(3) rotate(0); }
  to { transform: scale(3) rotate(0); }
}

@keyframes melange {
  from { transform: scale(3); }
  12.5% { transform: scale(3) rotateZ(33deg); }
  14.0625% { transform: scale(3) rotateZ(33deg) translateY(-33px); }
  15.625% { transform: scale(3) rotateZ(33deg); }
  17.1875% { transform: scale(3) rotateZ(33deg) translateY(-33px); }
  18.75% { transform: scale(3) rotateZ(33deg); }
  20.3125% { transform: scale(3) rotateZ(33deg) translateY(-33px); }
  21.875% { transform: scale(3) rotateZ(33deg); }
  23.4375% { transform: scale(3) rotateZ(33deg) translateY(-33px); }
  25% { transform: scale(3) rotateZ(33deg); }
  37.5% { transform: scale(3) rotateX(33deg); }
  39.0625% { transform: scale(3) rotateX(33deg) rotateY(45deg) translateY(6.25px); }
  40.625% { transform: scale(3) rotateX(33deg) rotateY(90deg) translateY(12.5px); }
  42.1875% { transform: scale(3) rotateX(33deg) rotateY(135deg) translateY(18.75px); }
  43.75% { transform: scale(3) rotateX(33deg) rotateY(180deg) translateY(25px); }
  45.3125% { transform: scale(3) rotateX(33deg) rotateY(225deg) translateY(31.25px); }
  46.875% { transform: scale(3) rotateX(33deg) rotateY(270deg) translateY(37.5px); }
  48.4375% { transform: scale(3) rotateX(33deg) rotateY(315deg) translateY(43.75px); }
  50% { transform: scale(3); }
  62.5% { transform: scale(3) rotateZ(-33deg); }
  64.0625% { transform: scale(3) rotateZ(-33deg) translateY(-33px); }
  65.625% { transform: scale(3) rotateZ(-33deg); }
  67.1875% { transform: scale(3) rotateZ(-33deg) translateY(-33px); }
  68.75% { transform: scale(3) rotateZ(-33deg); }
  70.3125% { transform: scale(3) rotateZ(-33deg) translateY(-33px); }
  71.875% { transform: scale(3) rotateZ(-33deg); }
  73.4375% { transform: scale(3) rotateZ(-33deg) translateY(-33px); }
  75% { transform: scale(3) rotateZ(-33deg); }
  87.5% { transform: scale(3) rotateX(-33deg); }
  89.0625% { transform: scale(3) rotateX(-33deg) rotateY(-45deg) translateY(-6.25px); }
  90.625% { transform: scale(3) rotateX(-33deg) rotateY(-90deg) translateY(-12.5px); }
  92.1875% { transform: scale(3) rotateX(-33deg) rotateY(-135deg) translateY(-18.75px); }
  93.75% { transform: scale(3) rotateX(-33deg) rotateY(-180deg) translateY(-25px); }
  95.3125% { transform: scale(3) rotateX(-33deg) rotateY(-225deg) translateY(-31.25px); }
  96.875% { transform: scale(3) rotateX(-33deg) rotateY(-270deg) translateY(-37.5px); }
  98.4375% { transform: scale(3) rotateX(-33deg) rotateY(-315deg) translateY(-43.75px); }
  to { transform: scale(3); }
}

@keyframes pivotage_membrier {
  from { transform: rotate(0deg); }
  50% { transform: rotate(90deg); }
  to { transform: rotate(0deg); }
}

@keyframes translate_maxime {
  from { transform: translate(1920px, 680px); }
  to { transform: translate(1615px, 680px); }
}

@keyframes translate_camion {
  from { transform: translate(3000px, 280px) rotateY(180deg); }
  to { transform: translate(0, 280px) rotateY(180deg); }
}

@keyframes animation_spring_left_right {
  from { transform: translate(0); }
  to { transform: translate(-85px); }
}

@keyframes animation_spring_right_left {
  from { transform: translate(250px, 115px); }
  to { transform: translate(300px, 115px); }
}

@keyframes georgeslasaucissepointfr {
  from { transform: translate(1920px, 100px); }
  to { transform: translate(-1920px, 100px); }
}
