@keyframes animation_raphael_oreille_gauche {
  from { transform: translate(0, 0); }
  50% { transform: translate(-5px, 10px) rotate(-45deg); }
  to { transform: translate(0, 0); }
}

.animation_raphael_oreille_gauche {
  animation-name: animation_raphael_oreille_gauche;
}

@keyframes animation_raphael_oreille_droite {
  from { transform: translate(0, 0); }
  50% { transform: translate(5px, 10px) rotate(45deg); }
  to { transform: translate(0, 0); }
}

.animation_raphael_oreille_droite {
  animation-name: animation_raphael_oreille_droite;
}

.animation_raphael_oreille_gauche, .animation_raphael_oreille_droite {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
