@keyframes animation_sautillement {
  from { transform: translate(0, 0); }
  12.5% { transform: translate(0, -50px); }
  25% { transform: translate(0, 0); }
  37.5% { transform: translate(0, -50px); }
  50% { transform: translate(0, 0); }
  62.5% { transform: translate(0, -50px); }
  75% { transform: translate(0, 0); }
  87.5% { transform: translate(0, -50px); }
  to { transform: translate(0, 0); }
}

.animation_sautillement {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: animation_sautillement;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
