@keyframes animation_georges_marche_jambe_gauche {
  from { transform: translate(0, 0); }
  25% { transform: translate(10px, -5px); }
  50% { transform: translate(20px, 0); }
  to { transform: translate(0, 0); }
}

.animation_georges_marche_jambe_gauche {
  animation-name: animation_georges_marche_jambe_gauche;
}

@keyframes animation_georges_marche_jambe_droite {
  from { transform: translate(0, 0); }
  50% { transform: translate(-20px, 0); }
  75% { transform: translate(-10px, -5px); }
  to { transform: translate(0, 0); }
}

.animation_georges_marche_jambe_droite {
  animation-name: animation_georges_marche_jambe_droite;
}

.animation_georges_marche_jambe_gauche, .animation_georges_marche_jambe_droite {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation_plongeon {
  from { transform: translate(0, 0); }
  75% { transform: translate(200px, 0); }
  87.5% { transform: translate(200px, 150px); }
  to { transform: translate(200px, 300px); }
}

.animation_plongeon {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: animation_plongeon;
  animation-timing-function: ease-in;
}

@keyframes animation_tour {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animation_tour_1s {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: animation_tour;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
