/* Polices */

@font-face {
  font-display: fallback;
  font-family: "Free Mono";
  src: url("../../assets/fonts/freefont/FreeMono.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Free Mono";
  font-weight: bold;
  src: url("../../assets/fonts/freefont/FreeMonoBold.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Free Mono";
  font-style: oblique;
  src: url("../../assets/fonts/freefont/FreeMonoOblique.woff") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Free Mono";
  font-style: oblique;
  font-weight: bold;
  src: url("../../assets/fonts/freefont/FreeMonoBoldOblique.woff") format("woff");
}

/* Styles généraux */

.cursor-pointer {
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none,
[aria-hidden="true"] {
  display: none;
}

.text-center {
  text-align: center;
}

html,
body,
.webpage,
main {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  font-family: "Free Mono", monospace;
  font-size: 16px;
  margin: 0;
}

main,
main > * {
  overflow: hidden;
}

svg {
  overflow: visible;
}

button,
iframe,
select {
  border: none;
}

ul {
  padding-left: 0;
}

a {
  color: #000;
  text-decoration: none;
}

/* Accueil SVGeorges */

header a {
  transition-duration: 0.5s;
  transition-property: transform;
}

header,
header a {
  margin: 10px;
}

header ul {
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}

header img {
  max-width: 100%;
}

@keyframes animation_thumbnail {
  from { transform: scale(1, 1); }
  50% { transform: scale(1.05, 1.05); }
  to { transform: scale(1, 1); }
}

.animation_thumbnail {
  animation: animation_thumbnail 1s linear infinite;
}

/* Embeds */

foreignObject ul {
  height: 200px;
  overflow-y: scroll;
  padding: 0 30px;
}

foreignObject li {
  margin-bottom: 5px;
}

foreignObject a {
  text-decoration: underline;
}

foreignObject section {
  background-color: #000;
  color: #fff;
  height: 240px;
  overflow-y: scroll;
  padding: 5px;
}

foreignObject select {
  background-color: #000;
  color: #fff;
  margin-top: 3px;
}

/* Boutons */

.btn {
  cursor: pointer;
  font-weight: bold;
}

.btn-close {
  background-color: #000;
  color: #fff;
  display: block;
  padding: 5px 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.btn-link {
  background-color: #fff;
}

.btn-link-svg:focus rect,
.btn-link-svg:hover rect,
polygon.btn-link-svg:focus,
polygon.btn-link-svg:hover {
  fill: #fff;
}

.btn-link-svg:focus text,
.btn-link-svg:hover text {
  fill: #000;
}

.btn-close:focus,
.btn-close:hover,
.btn-link-svg:focus,
.btn-link-svg:hover {
  background-color: #fff;
  color: #000;
}

.btn-link:focus,
.btn-link:hover {
  background-color: #000;
  color: #fff;
}

/* Navigations */

nav,
#svgplayer,
#svgreader {
  background-color: #fff;
  border-top: 1px solid black;
  bottom: 0;
  left: 50%;
  min-height: 50px;
  position: fixed;
  transform: translateX(-50%);
  transition-duration: 0.5s;
  transition-property: transform;
  width: 100%;
}

nav {
  align-content: center;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

nav a {
  padding: 5px;
}

nav a:focus,
nav a:hover {
  background-color: #000;
  color: #fff;
}

#svgplayer,
#svgreader {
  align-items: center;
}

#svgreader {
  justify-content: center;
}

#svgplayer {
  justify-content: space-around;
}

#progressrange {
  vertical-align: bottom;
}

/* Sous-titres des vidéos SVG */

#subtitles_box {
  background-color: #000;
  bottom: 50px;
  display: none;
  left: 50%;
  max-width: 100%;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  text-align: center;
  transform: translateX(-50%);
}

.texte_georges {
  color: #f0f;
}

.texte_florent {
  color: #ff0;
}

.texte_théo,
.texte_théo-gandalf {
  color: #f60;
}

.texte_corentin {
  color: #990;
}

.texte_raphaël {
  color: #fff;
}

.texte_maxime {
  color: #060;
}

.texte_georges_raphaël {
  color: #ff80ff;
}

.texte_georges_raphaël_maxime {
  color: #807380;
}

.texte_georges_raphaël_maxime_théo {
  color: #c06c40;
}

.texte_georges_raphaël_maxime_théo_florent {
  color: #e0b620;
}

.texte_georges_raphaël_maxime_théo_florent_corentin {
  color: #bca810;
}

.texte_philippe, .texte_répondeur {
  color: #3971be;
}

.texte_vidéoprojecteur {
  color: #87e0a9;
}

.texte_robert {
  color: #f7edee;
}

/* Presque-responsive de l'interface */

@media (orientation: portrait) {
  .d-landscape {
    display: none;
  }

  nav {
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  .d-portrait {
    display: none;
  }

  nav {
    flex-direction: row;
  }
}
