/* Animations */

@keyframes generique_texte_opacity {
  from { opacity: 0; }
  50% { opacity: 100%; }
  to { opacity: 100%; }
}

@keyframes generique_texte {
  from { transform: rotateX(90deg); }
  25% { transform: rotateX(0); }
  75% { transform: rotateX(0); }
  to { transform: rotateX(90deg); }
}

@keyframes generique_texte_long {
  from { transform: rotateX(90deg); }
  5% { transform: rotateX(0); }
  95% { transform: rotateX(0); }
  to { transform: rotateX(90deg); }
}

@keyframes generique_texte_moitie {
  from { transform: rotateX(90deg); }
  to { transform: rotateX(0); }
}

@keyframes generique_texte_moitie_scale {
  from { transform: rotateX(90deg) scale(1.5); }
  to { transform: rotateX(0) scale(1.5); }
}

@keyframes glisse_florent {
  from { transform: translate(-460px, 0px); }
  to { transform: translate(1920px, 0px); }
}

@keyframes glisse_corentin {
  from { transform: translate(2050px, 0px); }
  to { transform: translate(-150px, 0px); }
}

@keyframes pirouette_raphael_1 {
  from { transform: translate(220px, -600px); }
  50% { transform: translate(895px, 500px); }
  to { transform: translate(1570px, -600px); }
}

@keyframes pirouette_raphael_2 {
  from { transform: rotate(0deg) scale(7) translateY(0); }
  50% { transform: rotate(180deg) scale(7) translateY(0); }
  to { transform: rotate(0deg) scale(7) translateY(0); }
}

@keyframes derape_maxime_1 {
  from { transform: translate(-420px, 420px); }
  to { transform: translate(2250px, 420px); }
}

@keyframes derape_maxime_2 {
  from { transform: rotateY(0deg) scale(9) translateY(0); }
  50% { transform: rotateY(0deg) scale(9) translateY(0); }
  62.5% { transform: rotateY(180deg) scale(9) translateY(0); }
  75% { transform: rotateY(0deg) scale(9) translateY(0); }
  to { transform: rotateY(0deg) scale(9) translateY(0); }
}

@keyframes rebondit_theo {
  from { transform: translate(720px, -825px); }
  50% { transform: translate(720px, -825px); }
  62.5% { transform: translate(720px, 200px); }
  75% { transform: translate(720px, -825px); }
  to { transform: translate(720px, -825px); }
}

@keyframes retrecit_georges_1 {
  from { transform: translate(100px, 100px); }
  to { transform: translate(150px, 792px); }
}

@keyframes retrecit_georges_2 {
  from { transform: scale(9); }
  to { transform: scale(1.5); }
}

@keyframes trottinage {
  from { transform: scale(3) translateY(0); }
  50% { transform: scale(3) translateY(-30px); }
  to { transform: scale(3) translateY(0); }
}

@keyframes trottinage_jambe_gauche {
  from { transform: rotate(0); }
  50% { transform: rotate(45deg); }
  to { transform: rotate(0); }
}

@keyframes trottinage_jambe_droite {
  from { transform: rotate(0); }
  50% { transform: rotate(-45deg); }
  to { transform: rotate(0); }
}

@keyframes pulse_hifi {
  from { transform: scale(3); }
  to { transform: scale(3.5); }
}

@keyframes fuite_soleil {
  from { transform: translate(1450px, 50px); }
  to { transform: translate(1920px, 50px); }
}

@keyframes fuite_gugusse {
  from { transform: rotateY(0deg) scale(3) translateY(0); }
  to { transform: rotateY(90deg) scale(3) translateY(0); }
}

@keyframes ouais_florent {
  from { transform: translate(100px, 1080px); }
  10% { transform: translate(100px, 830px); }
  90% { transform: translate(100px, 830px); }
  to { transform: translate(100px, 1080px); }
}

@keyframes ouais_corentin {
  from { transform: translate(500px, 1125px); }
  10% { transform: translate(500px, 875px); }
  90% { transform: translate(500px, 875px); }
  to { transform: translate(500px, 1125px); }
}

@keyframes ouais_raphael {
  from { transform: translate(900px, 1205px); }
  10% { transform: translate(900px, 955px); }
  90% { transform: translate(900px, 955px); }
  to { transform: translate(900px, 1205px); }
}

@keyframes ouais_maxime {
  from { transform: translate(1300px, 1185px); }
  10% { transform: translate(1300px, 935px); }
  90% { transform: translate(1300px, 935px); }
  to { transform: translate(1300px, 1185px); }
}

@keyframes ouais_theo {
  from { transform: translate(1700px, 1080px); }
  10% { transform: translate(1700px, 830px); }
  90% { transform: translate(1700px, 830px); }
  to { transform: translate(1700px, 1080px); }
}

@keyframes ouais_florent_2 {
  from { transform: translate(100px, 1080px); }
  10% { transform: translate(100px, 890px); }
  90% { transform: translate(100px, 890px); }
  to { transform: translate(100px, 1080px); }
}

@keyframes ouais_corentin_2 {
  from { transform: translate(500px, 1125px); }
  10% { transform: translate(500px, 935px); }
  90% { transform: translate(500px, 935px); }
  to { transform: translate(500px, 1125px); }
}

@keyframes ouais_raphael_2 {
  from { transform: translate(900px, 1205px); }
  10% { transform: translate(900px, 1015px); }
  90% { transform: translate(900px, 1015px); }
  to { transform: translate(900px, 1205px); }
}

@keyframes ouais_maxime_2 {
  from { transform: translate(1300px, 1185px); }
  10% { transform: translate(1300px, 995px); }
  90% { transform: translate(1300px, 995px); }
  to { transform: translate(1300px, 1185px); }
}

@keyframes ouais_theo_2 {
  from { transform: translate(1700px, 1080px); }
  10% { transform: translate(1700px, 890px); }
  90% { transform: translate(1700px, 890px); }
  to { transform: translate(1700px, 1080px); }
}

@keyframes transition {
  from { transform: rotateY(0); }
  50% { transform: rotateY(180deg); }
  to { transform: rotateY(0); }
}

@keyframes papier_gigote {
  from { transform: rotateZ(0) scale(2.5); }
  25% { transform: rotateZ(45deg) scale(2.5); }
  50% { transform: rotateZ(0deg) scale(2.5); }
  75% { transform: rotateZ(-45deg) scale(2.5); }
  to { transform: rotateZ(0) scale(2.5); }
}

@keyframes videoprojecteur_tousse {
  from { transform: rotate(0) scale(1) translate(0); }
  5% { transform: rotate(0) scale(1) translate(0); } 
  10% { transform: rotate(-22.5deg) scale(1.5) translate(0); }
  15% { transform: rotate(-22.5deg) scale(3) translate(0); }
  25% { transform: rotate(0) scale(1.5) translate(0); }
  40% { transform: rotate(-45deg) scale(5) translate(0); }
  45% { transform: rotate(0) scale(1.5) translate(0); }
  55% { transform: rotate(-45deg) scale(5) translate(0); }
  65% { transform: rotate(0) scale(1) translate(0); }
  70% { transform: rotate(-22.5deg) scale(3) translate(0); }
  75% { transform: rotate(0) scale(1) translate(0); }
  80% { transform: rotate(0) scale(3) translate(0); }
  95% { transform: rotate(0) scale(1) translate(0); }
  to { transform: rotate(-10deg) scale(2) translate(0); }
}

@keyframes pivote_raphael {
  from { transform: scale(3) rotate(0); }
  6.25% { transform: scale(3) rotate(45deg); }
  12.5% { transform: scale(3) rotate(45deg); }
  18.75% { transform: scale(3) rotate(-45deg); }
  25% { transform: scale(3) rotate(-45deg); }
  31.25% { transform: scale(3) rotate(45deg); }
  37.5% { transform: scale(3) rotate(45deg); }
  43.75% { transform: scale(3) rotate(-45deg); }
  50% { transform: scale(3) rotate(-45deg); }
  56.25% { transform: scale(3) rotate(45deg); }
  62.5% { transform: scale(3) rotate(45deg); }
  68.75% { transform: scale(3) rotate(-45deg); }
  75% { transform: scale(3) rotate(-45deg); }
  81.25% { transform: scale(3) rotate(45deg); }
  87.5% { transform: scale(3) rotate(45deg); }
  93.75% { transform: scale(3) rotate(0); }
  to { transform: scale(3) rotate(0); }
}

@keyframes derape_maxime {
  from { transform: scale(3) rotateY(0deg); }
  25% { transform: scale(3) rotateY(0deg); }
  50% { transform: scale(3) rotateY(180deg); }
  75% { transform: scale(3) rotateY(0deg); }
  to { transform: scale(3) rotateY(0deg); }
}

@keyframes saute_theo {
  from { transform: scale(3) rotateX(0deg); }
  6.25% { transform: scale(3) rotateX(45deg); }
  12.5% { transform: scale(3) rotateX(0deg); }
  18.75% { transform: scale(3) rotateX(45deg); }
  25% { transform: scale(3) rotateX(0deg); }
  31.25% { transform: scale(3) rotateX(45deg); }
  37.5% { transform: scale(3) rotateX(0deg); }
  43.75% { transform: scale(3) rotateX(45deg); }
  50% { transform: scale(3) rotateX(0deg); }
  56.25% { transform: scale(3) rotateX(45deg); }
  62.5% { transform: scale(3) rotateX(0deg); }
  68.75% { transform: scale(3) rotateX(45deg); }
  75% { transform: scale(3) rotateX(0deg); }
  81.25% { transform: scale(3) rotateX(45deg); }
  87.5% { transform: scale(3) rotateX(0deg); }
  93.75% { transform: scale(3) rotateX(45deg); }
  to { transform: scale(3) rotateX(0deg); }
}

.flocon {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
