@keyframes animation_aplatissage {
  from { transform: rotateX(0); }
  to { transform: rotateX(67.5deg); }
}

@keyframes animation_aplatissage_bulle {
  from { transform: rotateX(0) translate(0, 0); }
  25% { transform: rotateX(0) translate(0, 0); }
  to { transform: rotateX(67.5deg) translate(0, 90px); }
}

.animation_aplatissage {
  animation-name: animation_aplatissage;
}

.animation_aplatissage_bulle {
  animation-name: animation_aplatissage_bulle;
}

.animation_aplatissage, .animation_aplatissage_bulle {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}
