@keyframes animation_flottement {
  from { transform: translate(0, 0); }
  12.5% { transform: translate(5px, 0); }
  25% { transform: translate(7.5px, -2.5px); }
  37.5% { transform: translate(7.5px, -5px); }
  50% { transform: translate(5px, -7.5px); }
  62.5% { transform: translate(0, -7.5px); }
  75% { transform: translate(-2.5px, -5px); }
  87.5% { transform: translate(-2.5px, -2.5px); }
  to { transform: translate(0, 0); }
}

.animation_flottement_3s {
  animation-name: animation_flottement;
  animation-timing-function: linear;
}

@keyframes animation_aplatissage {
  from { transform: rotateX(0); }
  to { transform: rotateX(67.5deg); }
}

.animation_aplatissage_centre {
  animation-name: animation_aplatissage;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes animation_aplatissage_flottement {
  from { transform: rotateX(0) translate(0, 0); }
  12.5% { transform: rotateX(8.4375deg) translate(5px, 0); }
  25% { transform: rotateX(16.875deg) translate(7.5px, -2.5px); }
  37.5% { transform: rotateX(25.3125deg) translate(7.5px, -5px); }
  50% { transform: rotateX(33.75deg) translate(5px, -7.5px); }
  62.5% { transform: rotateX(42.1875deg) translate(0, -7.5px); }
  75% { transform: rotateX(50.625deg) translate(-2.5px, -5px); }
  87.5% { transform: rotateX(59.0625deg) translate(-2.5px, -2.5px); }
  to { transform: rotateX(67.5deg) translate(0, 0); }
}

.animation_aplatissage_flottement {
  animation-name: animation_aplatissage_flottement;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

@keyframes animation_aplati_flottement {
  from { transform: rotateX(67.5deg) translate(0, 0); }
  12.5% { transform: rotateX(67.5deg) translate(5px, 0); }
  25% { transform: rotateX(67.5deg) translate(7.5px, -2.5px); }
  37.5% { transform: rotateX(67.5deg) translate(7.5px, -5px); }
  50% { transform: rotateX(67.5deg) translate(5px, -7.5px); }
  62.5% { transform: rotateX(67.5deg) translate(0, -7.5px); }
  75% { transform: rotateX(67.5deg) translate(-2.5px, -5px); }
  87.5% { transform: rotateX(67.5deg) translate(-2.5px, -2.5px); }
  to { transform: rotateX(67.5deg) translate(0, 0); }
}

.animation_aplati_flottement {
  animation-name: animation_aplati_flottement;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}

@keyframes animation_aplatissage_case {
  from { transform: rotateX(0) translate(15px, 340px); }
  to { transform: rotateX(67.5deg) translate(15px, 340px); }
}

.animation_aplatissage_case {
  animation-name: animation_aplatissage_case;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: 0 455px;
}

.animation_flottement_3s, .animation_aplatissage_centre, .animation_aplatissage_flottement, .animation_aplati_flottement, .animation_aplatissage_case {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
