@keyframes animation_decollage {
  from { transform: translate(0, 0); }
  to { transform: translate(0, -220px); }
}

.animation_decollage {
  animation-name: animation_decollage;
}

@keyframes animation_decollage_pivot {
  from { transform: scale(-1, 1) translate(0, 0); }
  to { transform: scale(-1, 1) translate(0, -220px); }
}

.animation_decollage_pivot {
  animation-name: animation_decollage_pivot;
}

.animation_decollage, .animation_decollage_pivot {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
