<svgeorges-webpage data-page="bd">
  <h1 slot="web-page-h1">Les BD de Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">J'ai commencé mes<br>aventures en BD papier,<br>de 2012 à 2014 !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/">Accueil</a></li>
  </ul>
  <p slot="web-page-details" class="pixelfed_saison"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
