<template id="svgeorges-webpage">
  <header>
    <slot name="web-page-h1">La Page Web de Georges la Saucisse</slot>
    <slot name="web-page-bulle">Bonjour, je suis le texte explicatif de Georges la Saucisse par défaut !</slot>
    <slot name="web-page-anchors"></slot>
    <slot name="web-page-details"></slot>
  </header>
  <slot name="web-page-main" role="application"></slot>
</template>
