<svgeorges-webpage data-page="accueil">
  <h1 slot="web-page-h1">Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">Bonjour, je suis<br>Georges la Saucisse,<br>et bienvenue chez moi !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/bd">Bandes Dessinées</a></li>
    <li><a href="/videos">Vidéos</a></li>
    <li><a href="/sons">Sons</a></li>
    <li><a href="/jeux">Jeux</a></li>
    <li><a href="/contes">Contes</a></li>
    <li><a href="/reseaux">Réseaux</a></li>
    <li><a href="/svgeorges">SVGeorges</a></li>
  </ul>
  <p slot="web-page-details" class="pixelfed_funfact" data-embed="/api/funfact"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
