<svgeorges-webpage data-page="videos">
  <h1 slot="web-page-h1">Les Vidéos de Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">J'ai continué mes<br>aventures en vidéos,<br>de 2013 à 2017 !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/">Accueil</a></li>
  </ul>
  <p slot="web-page-details" class="peertube_playlist"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
