<a href="/" class="btn btn-close">X</a>
<header>
  <h1 class="text-center">SVGeorges - Le lecteur d'aventures de Georges la Saucisse</h1>
  <div>
    <h2>Vidéos</h2>
    <ul id="videoList" class="d-flex text-center"></ul>
    <h2>Bandes Dessinées</h2>
    <ul id="comicList" class="d-flex text-center"></ul>
  </div>
</header>
<main class="d-none">
  <div id="svgreader" class="d-none text-center">
    <button class="home btn btn-link" aria-label="Page d'accueil" tabindex="0">⌂</button>&nbsp;
    <button class="prev btn btn-link" aria-label="BD précédente" tabindex="0">&lt;</button>&nbsp;
    <span id="comictitle"></span>&nbsp;
    <button class="next btn btn-link" aria-label="BD suivante" tabindex="0">&gt;</button>&nbsp;
    <button class="save btn btn-link" aria-label="Enregistrer" tabindex="0">🖪</button>
  </div>
  <div id="svgplayer" class="d-none text-center">
    <div>
      <button id="playpause" class="btn btn-link" aria-label="Pause" tabindex="0">⏸</button>&nbsp;
      <label for="progressrange" id="currenttime" aria-label="Temps actuel">0</label>&nbsp;
      <input type="range" id="progressrange" min="0" max="0" value="0">&nbsp;
      <span id="totaltime" aria-label="Temps total">0</span>&nbsp;
      <button id="subtitles" class="btn btn-link" aria-label="Sous-titres" tabindex="0">T</button>
    </div>
    <div>
      <button class="home btn btn-link" aria-label="Page d'accueil" tabindex="0">⌂</button>&nbsp;
      <button class="prev btn btn-link" aria-label="Vidéo précédente" tabindex="0">&lt;</button>&nbsp;
      <span id="videotitle"></span>&nbsp;
      <button class="next btn btn-link" aria-label="Vidéo suivante" tabindex="0">&gt;</button>
    </div>
  </div>
  <div id="subtitles_box"></div>
</main>
