@keyframes animation_danse {
  from { transform: rotateZ(-45deg); }
  to { transform: rotateZ(45deg); }
}

.animation_danse_025s {
  animation-direction: alternate;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-name: animation_danse;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
