@keyframes animation_tour {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animation_tour_2s {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: animation_tour;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
