<svgeorges-webpage data-page="jeux">
  <h1 slot="web-page-h1">Les Jeux de Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">J'ai fait des mini-jeux<br>en 2013 et 2014 !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/">Accueil</a></li>
  </ul>
  <p slot="web-page-details" class="popup_itch_jeux" data-embed="/api/jeux"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
