@keyframes animation_flottement {
  from { transform: translate(0, 0); }
  12.5% { transform: translate(5px, 0); }
  25% { transform: translate(7.5px, -2.5px); }
  37.5% { transform: translate(7.5px, -5px); }
  50% { transform: translate(5px, -7.5px); }
  62.5% { transform: translate(0, -7.5px); }
  75% { transform: translate(-2.5px, -5px); }
  87.5% { transform: translate(-2.5px, -2.5px); }
  to { transform: translate(0, 0); }
}

.animation_flottement_3s {
  animation-name: animation_flottement;
}

@keyframes animation_papillon {
  from { transform: translate(250px, 0); }
  7.5% { transform: translate(200px, -50px); }
  20% { transform: translate(150px, 0); }
  27.5% { transform: translate(100px, -50px); }
  40% { transform: translate(50px, 0); }
  47.5% { transform: translate(0, -50px); }
  60% { transform: translate(-50px, 0); }
  67.5% { transform: translate(-100px, -50px); }
  80% { transform: translate(-150px, 0); }
  87.5% { transform: translate(-200px, -50px); }
  to { transform: translate(-250px, 0); }
}

.animation_papillon {
  animation-name: animation_papillon;
}

.animation_flottement_3s, .animation_papillon {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation_raphael_oreille_gauche {
  from { transform: translate(0, 0); }
  50% { transform: translate(-5px, 10px) rotate(-45deg); }
  to { transform: translate(0, 0); }
}

.animation_raphael_oreille_gauche {
  animation-name: animation_raphael_oreille_gauche;
}

@keyframes animation_raphael_oreille_droite {
  from { transform: translate(0, 0); }
  50% { transform: translate(5px, 10px) rotate(45deg); }
  to { transform: translate(0, 0); }
}

.animation_raphael_oreille_droite {
  animation-name: animation_raphael_oreille_droite;
}

.animation_raphael_oreille_gauche, .animation_raphael_oreille_droite {
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}
