@keyframes lumiere_cinema_qui_clignote {
  from { fill: #808080; }
  49% { fill: #808080; }
  50% { fill: #757575; }
  99% { fill: #757575; }
  to { fill: #808080; }
}

.g_paysage_mur_cinema .lumiere_cinema_qui_clignote {
  animation: lumiere_cinema_qui_clignote 0.04s linear infinite;
}
