@keyframes carreau_discotheque_qui_clignote {
  from { fill: #fff; }
  49% { fill: #fff; }
  50% { fill: #eee; }
  99% { fill: #eee; }
  to { fill: #fff; }
}

.g_paysage_mur_discotheque .carreau_1 {
  animation: carreau_discotheque_qui_clignote 1s linear infinite;
}

.g_paysage_mur_discotheque .carreau_2 {
  animation: carreau_discotheque_qui_clignote 1s linear infinite 0.33s;
}

.g_paysage_mur_discotheque .carreau_3 {
  animation: carreau_discotheque_qui_clignote 1s linear infinite 0.66s;
}

.g_paysage_mur_discotheque .carreau_4 {
  animation: carreau_discotheque_qui_clignote 1s linear infinite 1s;
}
