@keyframes lumiere_cave_qui_clignote {
  from { fill: #c0c0c0; }
  89% { fill: #c0c0c0; }
  90% { fill: transparent; }
  99% { fill: transparent; }
  to { fill: #c0c0c0; }
}

.g_paysage_mur_cave .lumiere_cave_qui_clignote {
  animation: lumiere_cave_qui_clignote 1s alternate infinite;
}
