<svgeorges-webpage data-page="contes">
  <h1 slot="web-page-h1">Les Contes de Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">Mes camarades ont vécu<br>des contes écrits,<br>de 2017 à 2021 !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/">Accueil</a></li>
  </ul>
  <p slot="web-page-details" class="funkwhale_conte"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
