@keyframes animation_georges_trottinage_alternatif_jambe_gauche {
  from { transform: rotate(0); }
  25% { transform: rotate(45deg); }
  50% { transform: rotate(0); }
  to { transform: rotate(0); }
}

.animation_georges_trottinage_alternatif_jambe_gauche {
  animation-name: animation_georges_trottinage_alternatif_jambe_gauche;
  transform-origin: 15px 65px;
}

@keyframes animation_georges_trottinage_alternatif_jambe_droite {
  from { transform: rotate(0); }
  25% { transform: rotate(-45deg); }
  50% { transform: rotate(0); }
  to { transform: rotate(0); }
}

.animation_georges_trottinage_alternatif_jambe_droite {
  animation-delay: 0.25s;
  animation-name: animation_georges_trottinage_alternatif_jambe_droite;
  transform-origin: 30px 65px;
}

.animation_georges_trottinage_alternatif_jambe_gauche, .animation_georges_trottinage_alternatif_jambe_droite {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation_georges_trottinage_jambe_gauche {
  from { transform: rotate(0) translate(0px, -5px); }
  50% { transform: rotate(90deg) translate(0px, -5px); }
  to { transform: rotate(0) translate(0px, -5px); }
}

.animation_georges_trottinage_jambe_gauche {
  animation-name: animation_georges_trottinage_jambe_gauche;
  transform-origin: 15px 60px;
}

@keyframes animation_georges_trottinage_jambe_droite {
  from { transform: rotate(0) translate(0px, -5px); }
  50% { transform: rotate(-90deg) translate(0px, -5px); }
  to { transform: rotate(0) translate(0px, -5px); }
}

.animation_georges_trottinage_jambe_droite {
  animation-name: animation_georges_trottinage_jambe_droite;
  transform-origin: 30px 60px;
}

.animation_georges_trottinage_jambe_gauche, .animation_georges_trottinage_jambe_droite {
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation_georges_roue_jambe_gauche {
  from { transform: rotate(0) translate(-10px, -50px); }
  50% { transform: rotate(180deg) translate(-10px, -50px); }
  to { transform: rotate(360deg) translate(-10px, -50px); }
}

.animation_georges_roue_jambe_gauche {
  animation-name: animation_georges_roue_jambe_gauche;
  transform-origin: 5px 15px;
}

@keyframes animation_georges_roue_jambe_droite {
  from { transform: rotate(0) translate(10px, -8px); }
  50% { transform: rotate(-180deg) translate(10px, -8px); }
  to { transform: rotate(-360deg) translate(10px, -8px); }
}

.animation_georges_roue_jambe_droite {
  animation-name: animation_georges_roue_jambe_droite;
  transform-origin: 40px 57px;
}

.animation_georges_roue_jambe_gauche, .animation_georges_roue_jambe_droite {
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
