<svgeorges-webpage data-page="reseaux">
  <h1 slot="web-page-h1">Les Réseaux de Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">Retrouvez tous mes formats<br>un peu partout sur Internet !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/">Accueil</a></li>
  </ul>
  <p slot="web-page-details" class="popup_reseaux" data-list="/api/reseaux"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
