@keyframes animation_flottement {
  from { transform: translate(0, 0); }
  12.5% { transform: translate(5px, 0); }
  25% { transform: translate(7.5px, -2.5px); }
  37.5% { transform: translate(7.5px, -5px); }
  50% { transform: translate(5px, -7.5px); }
  62.5% { transform: translate(0, -7.5px); }
  75% { transform: translate(-2.5px, -5px); }
  87.5% { transform: translate(-2.5px, -2.5px); }
  to { transform: translate(0, 0); }
}

.animation_flottement_01s {
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-name: animation_flottement;
  animation-timing-function: linear;
}
