@keyframes animation_gugusse_clavier_bras_gauche {
  from { transform: rotate(0deg); }
  50% { transform: rotate(-90deg); }
  to { transform: rotate(0deg); }
}

.animation_gugusse_clavier_bras_gauche {
  animation-name: animation_gugusse_clavier_bras_gauche;
  transform-origin: 100% 100%;
}

@keyframes animation_gugusse_clavier_bras_droit {
  from { transform: scale(-1, -1) rotate(45deg); }
  50% { transform: scale(-1, -1) rotate(135deg); }
  to { transform: scale(-1, -1) rotate(45deg); }
}

.animation_gugusse_clavier_bras_droit {
  animation-name: animation_gugusse_clavier_bras_droit;
  transform-origin: 0% 100%;
}

.animation_gugusse_clavier_bras_gauche, .animation_gugusse_clavier_bras_droit {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
}

@keyframes animation_apparition_alternative_1 {
  from { opacity: 1; }
  25% { opacity: 1; }
  26% { opacity: 0; }
  99% { opacity: 0; }
  to { opacity: 1; }
}

.animation_apparition_alternative_1 {
  animation-name: animation_apparition_alternative_1;
}

@keyframes animation_apparition_alternative_2 {
  from { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  76% { opacity: 0; }
  to { opacity: 0; }
}

.animation_apparition_alternative_2 {
  animation-name: animation_apparition_alternative_2;
}

.animation_apparition_alternative_1, .animation_apparition_alternative_2 {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
