@keyframes animation_georges_marche_jambe_gauche {
  from { transform: translate(0, 0); }
  25% { transform: translate(10px, -5px); }
  50% { transform: translate(20px, 0); }
  to { transform: translate(0, 0); }
}

.moveLeftRight.moving .georges .jambe_gauche {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: animation_georges_marche_jambe_gauche;
  animation-timing-function: linear;
}

@keyframes animation_georges_marche_jambe_droite {
  from { transform: translate(0, 0); }
  50% { transform: translate(-20px, 0); }
  75% { transform: translate(-10px, -5px); }
  to { transform: translate(0, 0); }
}

.moveLeftRight.moving .georges .jambe_droite {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: animation_georges_marche_jambe_droite;
  animation-timing-function: linear;
}

