.jambe_gauche_repli_velo {
  transform: translate(0, -20px) rotateZ(-45deg);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.jambe_droite_repli_velo {
  transform: translate(-18.5px, -20.5px) rotateZ(-45deg);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.fermetures_repli_velo {
  transform: translate(0, 30px) rotateZ(90deg);
  transform-origin: 4.75% 5.5%;
}

.corps_repli_velo {
  transform: translate(0, 30px) rotateZ(90deg);
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes animation_jambe_gauche_repli_velo {
  from { transform: translate(-2.5px, -12.5px) rotateZ(-45deg); }
  25% { transform: translate(-2.5px, -12.5px) rotateZ(-90deg); }
  50% { transform: translate(-2.5px, -12.5px) rotateZ(-45deg); }
  75% { transform: translate(-2.5px, -12.5px) rotateZ(0); }
  to { transform: translate(-2.5px, -12.5px) rotateZ(-45deg); }
}

@keyframes animation_jambe_droite_repli_velo {
  from { transform: translate(-20px, -12.5px) rotateZ(-45deg); }
  25% { transform: translate(-20px, -12.5px) rotateZ(0); }
  50% { transform: translate(-20px, -12.5px) rotateZ(-45deg); }
  75% { transform: translate(-20px, -12.5px) rotateZ(-90deg); }
  to { transform: translate(-20px, -12.5px) rotateZ(-45deg); }
}

.animation_jambe_gauche_repli_velo {
  animation-name: animation_jambe_gauche_repli_velo;
}

.animation_jambe_droite_repli_velo {
  animation-name: animation_jambe_droite_repli_velo;
}

.animation_jambe_gauche_repli_velo, .animation_jambe_droite_repli_velo {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box;
}

@keyframes animation_feuille_decrochee {
  from { transform: translate(0, 0) rotateZ(0); }
  20% { transform: translate(0, 0) rotateZ(11.25deg); }
  50% { transform: translate(0, 0) rotateZ(11.25deg); }
  to { transform: translate(0, 150px) rotateZ(45deg); }
}

.animation_feuille_decrochee {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: animation_feuille_decrochee;
  animation-timing-function: ease-in;
  transform-box: fill-box;
}
