<svgeorges-webpage data-page="sons">
  <h1 slot="web-page-h1">Les Musiques de Georges la Saucisse</h1>
  <p slot="web-page-bulle" class="bulle bulle-georges" data-direction="sw">J'ai illustré mes<br>vidéos de musiques,<br>de 2013 à 2017 !</p>
  <ul slot="web-page-anchors" class="anchors">
    <li><a href="/">Accueil</a></li>
  </ul>
  <p slot="web-page-details" class="funkwhale_album"></p>
  <main slot="web-page-main"></main>
</svgeorges-webpage>
